In [4]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv("2023_Yellow_Taxi_Trip_Data.csv")
df.head()

C:\Users\ivyu1\AppData\Local\Temp\ipykernel_23144\1549577092.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("2023_Yellow_Taxi_Trip_Data.csv")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,01/01/2023 12:32:10 AM,01/01/2023 12:40:36 AM,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,01/01/2023 12:55:08 AM,01/01/2023 01:01:27 AM,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,01/01/2023 12:25:04 AM,01/01/2023 12:37:49 AM,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,01/01/2023 12:03:48 AM,01/01/2023 12:13:25 AM,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,01/01/2023 12:10:29 AM,01/01/2023 12:21:19 AM,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [38]:
df.shape

(11094231, 19)

In [39]:
len(df.isna())

11094231

In [43]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,1.109423e+07,1.085805e+07,1.109423e+07,1.085805e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.109423e+07,1.085805e+07,1.085805e+07
mean,1.728985e+00,1.363848e+00,3.823698e+00,1.560999e+00,1.658358e+02,1.641408e+02,1.195497e+00,1.858437e+01,1.574050e+00,4.875977e-01,3.419871e+00,5.394124e-01,9.812511e-01,2.733536e+01,2.276314e+00,1.078012e-01
std,4.507845e-01,8.973942e-01,2.179464e+02,6.934456e+00,6.406812e+01,6.986268e+01,5.293178e-01,1.801538e+01,1.811556e+00,1.028014e-01,3.912093e+00,2.073359e+00,1.882610e-01,2.248302e+01,7.726272e-01,3.681671e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.599000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-7.330000e+01,-1.000000e+00,-9.829500e+02,-2.500000e+00,-1.750000e+00
25%,1.000000e+00,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.550000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.800000e+00,0.000000e+00,1.000000e+00,2.030000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,1.000000e+00,3.350000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.250000e+00,0.000000e+00,1.000000e+00,2.910000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,9.000000e+00,3.350043e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,2.449500e+03,9.638000e+01,5.316000e+01,9.843000e+02,1.969900e+02,1.000000e+00,2.451000e+03,2.750000e+00,1.750000e+00

This data set is incredibly large, so I am going to sample teh data set to get a representative slice, roughly 5%.

In [46]:
df_sample = df.sample(frac=0.05, random_state=42)  # 5% sample (~550k rows)
df_sample.to_csv("yellow_taxi_sample.csv", index=False)

In [58]:
df_sample.shape

(554712, 19)

In [66]:
df_sample.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,554712.000000,542755.000000,554712.000000,542755.000000,554712.000000,554712.000000,554712.000000,554712.000000,554712.000000,554712.000000,554712.000000,554712.000000,554712.000000,554712.000000,542755.000000,542755.000000
mean,1.728560,1.362934,3.484863,1.578959,165.855417,164.208038,1.194108,18.574762,1.572142,0.487665,3.415175,0.542841,0.981340,27.322883,2.276990,0.107540
std,0.451502,0.894659,29.475792,7.056620,64.086818,69.830505,0.527425,17.879073,1.811634,0.101507,3.948631,2.085661,0.187755,22.383346,0.771504,0.368066
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,-540.000000,-7.500000,-0.500000,-50.920000,-30.300000,-1.000000,-541.000000,-2.500000,-1.750000
25%,1.000000,1.000000,1.060000,1.000000,132.000000,114.000000,1.000000,8.600000,0.000000,0.500000,1.000000,0.000000,1.000000,15.480000,2.500000,0.000000
50%,2.000000,1.000000,1.800000,1.000000,162.000000,162.000000,1.000000,12.800000,1.000000,0.500000,2.800000,0.000000,1.000000,20.300000,2.500000,0.000000
75%,2.000000,1.000000,3.340000,1.000000,234.000000,234.000000,1.000000,20.500000,2.500000,0.500000,4.200000,0.000000,1.000000,29.040000,2.500000,0.000000
max,6.000000,9.000000,12938.000000,99.000000,265.000000,265.000000,4.000000,700.000000,16.500000,4.000000,480.100000,95.000000,1.000000,703.500000,2.500000,1.750000

Much more readable!

### 🧾 Step 1: Understand the Columns (Simple Explanations)

Here’s what the main columns in the **NYC Yellow Taxi dataset** mean in plain English:

| Column | Meaning |
|:--|:--|
| **VendorID** | The taxi company that provided the ride (usually 1 or 2). |
| **tpep_pickup_datetime** | The date and time when the passenger was picked up. |
| **tpep_dropoff_datetime** | The date and time when the passenger was dropped off. |
| **passenger_count** | Number of passengers in the taxi. |
| **trip_distance** | How far the trip was, in miles. |
| **RatecodeID** | Type of rate charged (1 = Standard, 2 = JFK, 3 = Newark, etc.). |
| **store_and_fwd_flag** | Whether the trip record was sent to the server later (N = No, Y = Yes). |
| **PULocationID** | Pickup location zone ID (zones are numbered across NYC). |
| **DOLocationID** | Drop-off location zone ID. |
| **payment_type** | How the passenger paid (1 = Credit card, 2 = Cash, 3 = No charge, etc.). |
| **fare_amount** | Base fare before extras, tolls, or tips. |
| **extra** | Additional fees (like night surcharge or peak-hour fee). |
| **mta_tax** | NYC tax on the ride. |
| **tip_amount** | Tip amount (0 if paid in cash or not tipped). |
| **tolls_amount** | Total tolls paid during the trip. |
| **improvement_surcharge** | Standard $0.30 fee added to every trip. |
| **total_amount** | Total fare (fare + tips + tolls + taxes + surcharges). |
| **congestion_surcharge** | Extra fee applied in traffic congestion zones (recent years). |